@{
    ViewData["Title"] = "Battle";
    string PKID = PlayerModel.PlayerTeam[0].Name;
    string PKID2 = PlayerModel.PlayerTeam[0].Name;// = //random mon;
    float? perc = (float?)(PokemonModel.EnemyHP * 100 / PokemonModel.MaxEnemyHP);
    float? perc2 = (float?)(PokemonModel.PlayerHP * 100 / PokemonModel.MaxPlayerHP);
    int moveNum = PokemonModel.moveID;
}

<div class="card border-dark p-2" style="max-width: 60rem; min-height: 30rem;">
    <div class="p-3">
        <img src="~/images/field.png" height="100%" width="100%" />
        <div class="card-img-overlay" style="margin-left: 36rem; margin-top: 10rem;">
            <img src="@PokemonElements.LoadPokemon(PKID2).Sprites.Front_Default" height="235" width="235"/>
        </div>
        <div class="card-img-overlay" style="margin-left: 6rem; margin-top: 19rem;">
            <img src="@PokemonElements.LoadPokemon(PKID).Sprites.Back_Default" height="335" width="335"/>
        </div>
    </div>
    <div class="card-img-overlay" style="width: 15rem; margin-left: 1rem; margin-top: 1rem;">
        <div class="border bg-white p-2">
            <h3>@PokemonElements.LoadPokemon(PKID2).Name</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" width="5rem" style="max-width: 100%; width: @perc%" aria-valuenow="@PokemonModel.EnemyHP" aria-valuemax="@PokemonModel.EnemyHP">
                    @PokemonModel.EnemyHP
                </div>  
            </div>
        </div>
     </div>
    <div class="card-img-overlay" style="width: 15rem; margin-top: 29.25rem; margin-left: 44rem;">
        <div class="border bg-white p-2">
            <h3>@PokemonElements.LoadPokemon(PKID).Name</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" width="5rem" style="max-width: 100%; width: @perc2%" aria-valuenow="@PokemonModel.PlayerHP" aria-valuemax="@PokemonModel.PlayerHP">
                    @PokemonModel.PlayerHP
                </div>  
            </div>
         </div>
     </div>
</div>

<div class="card border-dark" style="max-width: 60rem; min-height: 10rem; flex-direction: row">
    <div class="card border-dark" style="min-width: 20rem; min-height: 9rem;">
        <div class="card border-0" style="min-width:19.5rem; min-height:8.5rem; flex-direction: row">
            <div>
                <div class="m-1">
                    <button type="submit" onclick="ApplyDamage" style="height: 4.5rem; width: 9.5rem; border-color:grey; border-radius: 20px;">@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[0].Move).Name</button>
                </div>
                <div class="m-1">
                    <button type="submit" onclick="ApplyDamage" style="height: 4.5rem; width: 9.5rem; border-color:grey; border-radius: 20px;">@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[1].Move).Name</button>
                </div>
            </div>
            <div>
                <div class="m-1">
                    <button type="submit" onclick="ApplyDamage" style="height: 4.5rem; width: 9.5rem; border-color:grey; border-radius: 20px;">@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[2].Move).Name</button>
                </div>
                <div class="m-1">
                    <button type="submit" onclick="ApplyDamage" style="height: 4.5rem; width: 9.5rem; border-color:grey; border-radius: 20px;">@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[3].Move).Name</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-dark text-center p-2" style="min-width: 40rem; min-height: 9rem;">
        @MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[moveNum].Move).Flavor_Text_Entries[2].Flavor_Text
    </div>
</div>

<div class="card border-0" style="min-width: 60rem; min-height:5rem; flex-direction: row">
    <div class="card border-dark" style="min-width: 20rem; min-height: 5rem">
        <div style="padding-left: 2rem;">
            <button class="m-2" style="width: 15rem; min-height: 4rem; border-color:grey; border-radius: 20px;">
                Potion
            </button>
        </div>
    </div>
    <div class="card border-dark" style="min-width: 20rem; min-height: 5rem">
        <div style="padding-left: 2rem;">
            <button class="m-2" style="width: 15rem; min-height: 4rem; border-color:grey; border-radius: 20px;">
                Revive
            </button>
        </div>
    </div>
    <div class="card border-dark" style="min-width: 20rem; min-height: 5rem">
        <div style="padding-left: 2rem;">
            <button class="m-2" style="width: 15rem; min-height: 4rem; border-color:grey; border-radius: 20px;">
                Pokeball
            </button>
        </div>
    </div>
</div>

<div class="card border-dark" style="max-width: 60rem; min-height:12rem; flex-direction: row">
    <div style="padding-left: 6rem">
        <button class="m-3" style="min-width: 10rem; min-height: 10rem; border-color:grey; border-radius: 20px;">

        </button>
    </div>
    <div style="padding-left: 6rem">
        <button class="m-3" style="min-width: 10rem; min-height: 10rem; border-color:grey; border-radius: 20px;">

        </button>
    </div>
    <div style="padding-left: 6rem">
        <button class="m-3" style="min-width: 10rem; min-height: 10rem; border-color:grey; border-radius: 20px;">

        </button>
    </div>
</div>
<form asp-controller="Home" asp-action="Battle" method="post">
<div class="card border-dark" style="max-width: 60rem; min-height: 10rem; flex-direction: row">
    <div class="card border-dark" style="min-width: 40rem; min-height: 9rem;">
        @*Input move information here*@
    </div>
    <div class="card border-dark" style="min-width: 20rem; min-height: 9rem;">
            <div class="card border-0" style="min-width:19.5rem; min-height:8.5rem; flex-direction: row">
            <div>
                <div class="m-1">
                        <button type="submit" id="Move1" name="Move1" onclick="ApplyDamage" style="height: 4.5rem; width: 9.5rem;">@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[0].Move).Name</button>
                </div>
                <div class="m-1">
                        <button type="submit" onclick="ApplyDamage" style="height: 4.5rem; width: 9.5rem;">@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[1].Move).Name</button>
                </div>
            <div>
            </div>
                <div class="m-1">
                        <button type="submit" onclick="ApplyDamage" style="height: 4.5rem; width: 9.5rem;">@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[2].Move).Name</button>
                </div>
                <div class="m-1">
                        <button type="submit" onclick="ApplyDamage" style="height: 4.5rem; width: 9.5rem;">@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[3].Move).Name</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
