@{
    int PKID = 1;

    var pokemon = Pokemon.LoadAllPokemon();

    PlayerModel.AddPokemon("voltorb", 20);
    PlayerModel.AddPokemon("miltank", 20);


    if (PlayerModel.PlayerTeam.Count > 0)
    {
        TrainerModel.RandomizeTeam("Hard");

        foreach (var mons in TrainerModel.TrainerTeam)
        {
            <h1>@mons.Name</h1>
            <h1>@mons.Level</h1>
        }
    }
        
    
    /*
    //PokemonModel.AttackDamage();
    if(PokemonElements.LoadPokemon(PKID).Types.Count == 2)
        {
        <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
        <h1>@PokemonElements.LoadPokemon(PKID).Types[1].Type.Name</h1>

        //TwoTypeWAS(@PokemonElements.LoadPokemon(PKID));
    }
        else
        {
        <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
    }

    void OneTypeWAS(PokemonElements pokemon)
        {
        TypeElements type1 = TypeElements.LoadType(pokemon.Types[0].Type);

        if (type1.Damage_Relations.No_Damage_To.Count > 0)
            {
            <h1>No Damage To</h1>
            foreach (var type in type1.Damage_Relations.No_Damage_To)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.Half_Damage_To.Count > 0)
            {
            <h1>Half Damage To</h1>
            foreach (var type in type1.Damage_Relations.Half_Damage_To)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.Double_Damage_To.Count > 0)
            {
            <h1>Double Damage To</h1>
            foreach (var type in type1.Damage_Relations.Double_Damage_To)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.No_Damage_From.Count > 0)
            {
            <h1>No Damage From</h1>
            foreach (var type in type1.Damage_Relations.No_Damage_From)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.Half_Damage_From.Count > 0)
            {
            <h1>Half Damage From</h1>
            foreach (var type in type1.Damage_Relations.Half_Damage_From)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.Double_Damage_From.Count > 0)
            {
            <h1>Double Damage From</h1>
            foreach (var type in type1.Damage_Relations.Double_Damage_From)
                {
            <h1> @type.Name </h1>
    }
    }

    }

    void TwoTypeWAS(PokemonElements pokemon)
        {

        TypeElements type1 = TypeElements.LoadType(pokemon.Types[0].Type);
        TypeElements type2 = TypeElements.LoadType(pokemon.Types[1].Type);

        if (type1.Damage_Relations.No_Damage_To.Count > 0 || type2.Damage_Relations.No_Damage_To.Count > 0)
            {
            <h1>No Damage To</h1>
            foreach (var type in type1.Damage_Relations.No_Damage_To)
                {
            <h1> @type.Name </h1>
            }

            foreach (var type in type2.Damage_Relations.No_Damage_To)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.Half_Damage_To.Count > 0 || type2.Damage_Relations.Half_Damage_To.Count > 0)
            {
            <h1>Half Damage To</h1>
            foreach (var type in type1.Damage_Relations.Half_Damage_To)
                {
            <h1> @type.Name </h1>
            }
            foreach (var type in type2.Damage_Relations.Half_Damage_To)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.Double_Damage_To.Count > 0 || type2.Damage_Relations.Double_Damage_To.Count > 0)
            {
            <h1>Double Damage To</h1>
            foreach (var type in type1.Damage_Relations.Double_Damage_To)
                {
            <h1> @type.Name </h1>
            }
            foreach (var type in type2.Damage_Relations.Double_Damage_To)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.No_Damage_From.Count > 0 || type2.Damage_Relations.No_Damage_From.Count > 0)
            {
            <h1>No Damage From</h1>
            foreach (var type in type1.Damage_Relations.No_Damage_From)
                {
            <h1> @type.Name </h1>
            }
            foreach (var type in type2.Damage_Relations.No_Damage_From)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.Half_Damage_From.Count > 0 || type2.Damage_Relations.Half_Damage_From.Count > 0)
            {
            <h1>Half Damage From</h1>
            foreach (var type in type1.Damage_Relations.Half_Damage_From)
                {
            <h1> @type.Name </h1>
            }
            foreach (var type in type2.Damage_Relations.Half_Damage_From)
                {
            <h1> @type.Name </h1>
        }
        }

        if (type1.Damage_Relations.Double_Damage_From.Count > 0 || type2.Damage_Relations.Double_Damage_From.Count > 0)
            {
            <h1>Double Damage From</h1>
            foreach (var type in type2.Damage_Relations.Double_Damage_From)
                {
            <h1> @type.Name </h1>
    }
    }

    }

    //Gets the first move in the list of moves a pokemon can learn
    //(PokemonElements.LoadPokemon(PKID).Moves[0].Move)
    */
}