@{
    PokemonElements PKE = new PokemonElements();
    Random rand = new Random();
    //int PKID = rand.Next(1,1080);
    int PKID = 1;
    
    <h1>@PokemonElements.LoadPokemon(PKID).Name</h1>
    <h1>@PokemonElements.LoadPokemon(PKID).Abilities[0].Ability.Name</h1>
    <h1>@PokemonModel.MakePokemon(PKID)[0].ToString() HP</h1>
    <img src="@PokemonElements.LoadPokemon(PKID).Sprites.Front_Default"/>

    if(PokemonElements.LoadPokemon(PKID).Types.Count == 2)
    {
        <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
        <h1>@PokemonElements.LoadPokemon(PKID).Types[1].Type.Name</h1>
    }
    else
    {
        <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
    }
    <h1>@PokemonElements.LoadPokemon(PKID).Moves[1].Move.Name</h1>
    <h1>@PokemonModel.AttackDamage(MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[2].Move).ID)</h1>
    //<h1>@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[1].Move).Power</h1>

    //Gets the first move in the list of moves a pokemon can learn
    //(PokemonElements.LoadPokemon(PKID).Moves[0].Move)

}