@{
    Random rand = new Random();
    //int PKID = rand.Next(1,1080);
    int PKID = 1;

    if (true)
    {
        <h1>@PokemonElements.LoadPokemon(PKID).Name</h1>
        <h1>@PokemonElements.LoadPokemon(PKID).Abilities[0].Ability.Name</h1>
        <h1>@PokemonElements.LoadPokemon(PKID).Moves[0].Move.Name</h1>
        <h1>@MoveElements.LoadMove(PokemonElements.LoadPokemon(PKID).Moves[0].Move).Accuracy</h1>


        //<h1>@content.Result</h1>
    }
    else
    {
        Console.WriteLine("FAILED");
    }


    /*PokeApiClient pokeClient = new PokeApiClient();

    int IVH = rand.Next(0,31);
    int EV = rand.Next(0,255);
    int level = rand.Next(1,100);
    int HP = 1;

    //HP = ((2 * PK.Stats[0].BaseStat + IVH + (EV / 4) * level) / 100) + level + 10;*/

}

<div>
    @*<h1> @PK.Id</h1>
    <img src="@PK.Sprites.FrontDefault"/>
    <h1> @HP.ToString() </h1>
    <h1> @PK.Stats[0].Stat.Name </h1>*@
</div>