@{
    PokemonElements PKE = new PokemonElements();
    Random rand = new Random();
    //int PKID = rand.Next(1,1080);
    int PKID = 1;
    
    <h1>@PokemonElements.LoadPokemon(PKID).Name</h1>
    <h1>@PokemonElements.LoadPokemon(PKID).Abilities[0].Ability.Name</h1>
    <h1>@PokemonModel.MakePokemon(rand).ToString()</h1>
    <img src="@PokemonElements.LoadPokemon(PKID).Sprites.Front_Default"/>
    <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
    <h1>@PokemonElements.LoadPokemon(PKID).Types[1].Type.Name</h1>
    
    //Gets the first move in the list of moves a pokemon can learn
    //(PokemonElements.LoadPokemon(PKID).Moves[0].Move)
    
    

    //HP = ((2 * PK.Stats[0].BaseStat + IVH + (EV / 4) * level) / 100) + level + 10;*/

}