@{
    var pokemon = Pokemon.LoadAllPokemon();


    foreach (var poke in PlayerModel.PlayerTeam)
    {
        foreach (var mans in pokemon.Results)
        {
            if (mans.Name == poke)
            {
                <h1> @mans.Name</h1>
                <h1> @mans.Url</h1>
            }
        }
    }

    //int PKID = 1;


        //PokemonModel.AttackDamage();
            /*
    if(PokemonElements.LoadPokemon(PKID).Types.Count == 2)
    {
        <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
        <h1>@PokemonElements.LoadPokemon(PKID).Types[1].Type.Name</h1>
    }
    else
    {
        <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
    }*/

    

    //Gets the first move in the list of moves a pokemon can learn
    //(PokemonElements.LoadPokemon(PKID).Moves[0].Move)

}