@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div>@*
    <h3>@ItemElements.Items().Name</h3>
    <h3>@ItemElements.Items().Cost</h3>
    <h3>@ItemElements.Items().Effect_Entries[0].Effect</h3>
    <h3>@ItemElements.Items().Effect_Entries[0].Short_Effect</h3>*@
@*    <h3>@ItemElements.Items().Sprites</h3>*@

    
</div>
